{% extends "Books/base.html" %}
{% block title %}Edit Book{% endblock %}
{% block content %}
<h2>Edit Book</h2>
{% if error %}
    <p style="color:red">{{ error }}</p>
{% elif book %}
<form method="post">
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{ book.title }}"><br>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" value="{{ book.price }}"><br>
    <button type="submit">Save</button>
</form>
{% endif %}
{% endblock %} 