{% extends "Books/base.html" %}
{% block title %}All Books{% endblock %}
{% block content %}
<h2>All books:</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Actions</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author.name }}</td>
            <td>{{ book.price }}</td>
            <td>
                <a href="{% url 'book_edit' book.id %}">Edit</a> |
                <a href="{% url 'book_delete' book.id %}">Delete</a>
            </td>
            <td>
                {% if book.image %}
                    <img src="{{ book.image.url }}" alt="Book Image" style="max-width:60px;">
                {% else %}
                    No image
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
