{% extends "Books/base.html" %}
{% block title %}Book Details{% endblock %}
{% block content %}
<h2>Book Details</h2>
<table>
    <tr><th>Title</th><th>Author</th><th>Actions</th></tr>
    <tr>
        <td>{{ book.title }}</td>
        <td><a href="{% url 'author_detail' book.author.id %}">{{ book.author.name }}</a></td>
        <td>
            <a href="{% url 'book_edit' book.id %}">Edit</a> |
            <a href="{% url 'book_delete' book.id %}">Delete</a>
        </td>
    </tr>
    {% if book.image %}
    <tr>
        <td colspan="3"><img src="{{ book.image.url }}" alt="Book Image" style="max-width:200px;"></td>
    </tr>
    {% endif %}
</table>
{% endblock %} 